@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>PizzaMama Accueil</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="main_page">

    <div class="home_page">
        <img src="~/images/main_logo.png"/>

        <div class="main_menu">
            <p> <a asp-page="MenuPizzas">Voir le menu</a></p>
        </div>
    </div>

</body>

</html>
